/* General */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navbar */
nav {
    background-color: #007bff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    align-content: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Contenedores */
.tabla-container {
    margin: 20px;

}

/* Botones */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    width: auto;
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    width: auto;
    background-color: #007bff;
    color: white;
}

/* Ajustar el ancho de las columnas de la tabla de asistencias */
div.dataTables_scrollHeadInner,
.asistenciasTable_wrapper th,
.asistenciasTable_wrapper td,
.asistenciasTable_wrapper div.dataTables_scrollHeadInner,
.asistenciasTable_wrapper div.dataTables_scrollHeadInner table {
    width: auto;
}

.asistenciasTable_wrapper td {
    width: auto;
    min-width: 120px;
    /* Ajusta este valor según tus necesidades */
}


/* Responsive */
@media (max-width: 768px) {

    nav {
        width: 100%;
    }

    nav ul {
        width: auto;
        flex-direction: row;
    }

    nav ul li {
        font-size: 10px;
    }
}